<div class="steps">
    <ul class="steps-list">
      <li class="step <%= 'step--active' if current_step == 1 %>">Step 1: 日時選択</li>
      <li class="step <%= 'step--active' if current_step == 2 %>">Step 2: 情報入力</li>
      <li class="step <%= 'step--active' if current_step == 3 %>">Step 3: 確認</li>
    </ul>
  </div>