<footer class="footer mt-auto py-3 bg-light border-top text-center">
  <div class="container">
    <span class="text-primary">&copy; 2025 <%= link_to "MySchedule.com", root_path %></span>
  </div>
</footer>