<turbo-frame id="calendar">
  <%= month_calendar events: events, attribute: :start_time do |date, day_events| %>
    <div>
      <strong><%= link_to date.day, new_event_path(date: date), data: { turbo_frame: "event_panel" } %></strong>
      <% if day_events.any? %>
        <span class="event-icon">📌</span>
      <% end %>
    </div>
  <% end %>
</turbo-frame>
