<h1>test</h1>

<%= render "home/calendar", events: @events %>

<section>
  <div class="tab-navigation">
    <%= link_to "新規作成", new_event_path, data: { turbo_frame: "event_panel" }, class: "tab-link" %>
    <%= link_to "一覧表示", events_path, data: { turbo_frame: "event_panel" }, class: "tab-link" %>
  </div>
  <%= render template: "events/new" %>
</section>

