<turbo-frame id="event_panel">
  <h3>新規予定作成</h3>
  <%= form_with model: @event, url: events_path, data: { turbo_frame: "event_panel" } do |f| %>
    <%= render "events/form", f: f %>

    <div class="form-actions">
      <%= f.submit "作成", class: "btn btn-primary" %>
    </div>
  <% end %>
</turbo-frame>
